# Python
__pycache__/
*.egg-info/
build/
dist/

# Virtual Environment
venv/
.venv/
build_venv/
# Project-specific outputs
output/
batch_output/
*.json
*.xlsx
*.csv
*.png
*.jpg
*.jpeg
*.pdf
*.doc
*.docx
*.zip
*.PDF
*.txt
!requirements.txt
*.xlsm


# Logs
*.log
logs/

# Environment variables
.env
.env.local

